* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

#rpsGame {
    margin: 5px;
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#middle {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    border: 1px solid rgb(145, 145, 145);
    border-radius: 25px;
    margin: 10px;
}

button:hover {
    opacity: 0.3;
}

button:focus {
    border: 2px rgb(145, 145, 145) solid;
}

.rock {
    background-color: white;
    background-image: url("/images/rock.png");
    background-size: cover;
    width: 300px;
    height: 300px;
}

.paper {
    background-color: white;
    background-image: url("/images/paper.png");
    background-size: cover;
    width: 300px;
    height: 300px;
}

.scissors {
    background-color: white;
    background-image: url("/images/scissors.png");
    background-size: cover;
    width: 300px;
    height: 300px;
}